<div class="container">
    <p><b>Field Capacity by Soil Type</b></p>
    <p>The maximum soil moisture different types of soil can hold</p>
</div>
<details-list [items]="capacityItems" heading="Field Capacity by Soil Type"
    description="The maximum soil moisture different types of soil can hold">
</details-list>

<div class="soil-overlay">
    <input class="capacity-width" type="text" value="36%">
    <div><img src="https://rbcgithub.fg.rbc.com/storage/user/19085/files/91f83d7e-4e90-46e0-8f5d-67e9e5aec01d"
            alt="soil capacity" height="300px"></div>
    <!-- <div><img src="https://github.com/eharason/flamel-map-ui/assets/9321830/fa316a88-0c1e-4344-8f16-0e5230500084" alt="soil capacity" height="300px"></div> -->
</div>