<div class="map" id="map"></div>

<form [formGroup]="fieldForm">

    <div class="position-relative">
        <div class="horizontal-bar">
            <input type="text" formControlName="coordinateInput">

            <select formControlName="selectField" (change)="onSelectField()">
                <option value="" disabled selected>Select the field</option>
                <option *ngFor="let field of farmFields" [value]="field.field_id">
                    {{ getOwnership(field.field_id) }}
                </option>
                <option value="allFields">All Fields</option>
            </select>

            <input id="recDate" type="date" formControlName="date" min="2023-01-01" (change)="onSelectDate()"/>

            <input type="text" formControlName="cropType">
            <input type="text" formControlName="crop">
        </div>
    </div>
  
</form>

<custom-map-buttons
    [showFeatureLayers]="showFeatureLayers"
    [showSoilCapacity]="showSoilCapacity"
    (toggleFeatureLayers)="onToggleFeatureLayers($event)"
    (toggleSoilCapacityLayer)="onToggleSoilCapacityLayer($event)"
>
</custom-map-buttons>

<div class="mapboxgl-ctrl-top-left margin-top-lg">
    <div *ngIf="showSoilCapacity; else fieldData" class="info-background max-width">
        <soil-capacity [capacity]="capacity"></soil-capacity>
    </div>

    <ng-template #fieldData>
        <div *ngIf="selectedField" class="info-background">
            <ng-container *ngIf="!selectedDate; else showRec">
                <field-info [selectedField]="selectedField"></field-info>
            </ng-container>
            <ng-template #showRec>
                <field-info [selectedField]="selectedField" [selectedDate]="selectedDate"></field-info>
                <irrigation-rec [selectedField]="selectedField" [selectedDate]="dateToday"></irrigation-rec>
            </ng-template>
        </div>
    </ng-template>
</div>
