<div class="position-top-right">
    <div class="mapboxgl-ctrl mapboxgl-ctrl-group custom-ctrl custom-ctrl-top">
        <button title="Feature Layers - Weather Stations and Fields" (click)="onToggleFeatureLayers()"><i
                class="fa-solid fa-layer-group"></i>
        </button>
    </div>
    <div class="mapboxgl-ctrl mapboxgl-ctrl-group custom-ctrl custom-ctrl-middle">
        <button title="Weather Info" class="btn"><i class="fa-solid fa-cloud-sun"></i>
        </button>
    </div>
    <div class="mapboxgl-ctrl mapboxgl-ctrl-group custom-ctrl custom-ctrl-bottom">
        <button title="Soil Capacity" (click)="onToggleSoilCapacityLayer()"><i class="fa-solid fa-fill-drip"></i>
        </button>
    </div>
</div>
